.heading {
   text-align: center;
   color: white;
   font-family: 'Rubik', sans-serif;
   padding: 1rem 1rem;
  font-size: 400%;
}

h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 200%;
}

body {
    background-image: url('https://image.freepik.com/free-photo/bright-blue-sky-with-white-clouds_181624-26230.jpg');
 background-size: 100% 100%;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


















