.heading {
   text-align: center;
   color: white;
   font-family: 'Rubik', sans-serif;
   padding: 1rem 1rem;
  font-size: 400%;
}

h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 200%;
}

body {
    background-image: url('https://image.freepik.com/free-photo/bright-blue-sky-with-white-clouds_181624-26230.jpg');
 background-size: 100% 100%;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }



/* Side box */
.side-box {
  width: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;

}

.sidebox-inner {
  width: 400px; 
  border-radius: 8px; 
  color: black; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: white; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center; 
  margin: 20px;
}

.sidebox-inner > h2 {
  color: black;
}
.sidebox-inner > p {
  font-size: 20px; 
}

.forecast-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
}
.forecast {
  width: 200px; 
  background-color: white; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center; 
  padding: 15px 10px;

}

.uv-container {
  display: flex;
  align-items: center; 
  justify-content: center;

}


.uv-index {
  width: 40px; 
  height: 20px;
  display: inline-block; 
  border-radius: 3px;
  margin: 0 5px;
  
}


.low {
  background:  linear-gradient(to left, green , white); 
}
.moderate {
  background: linear-gradient(to left, yellow , white); 
}

.high {
  background: linear-gradient(to left ,orange, white); 
}

.very-high {
  background:  linear-gradient(to left,red , white);
}

.extreme {
  background: linear-gradient(to left, purple , white)
}
